# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!Source/ThirdParty/**.dll
!Source/ThirdParty/**/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!Source/ThirdParty/**.lib
!Source/ThirdParty/**/*.lib

# Executables
*.exe
*.out
*.app
!Resources/Prerequisites/*.exe

Debug/
Bin/
Intermediate/
Research/
vcpkg_installed/
.vs/
Temp/
RawCaptures/
GameCaptures/
Dumps/
enc_temp_folder/
Publish/
DS3OS/
node_modules/
cmake-build-*/