<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Loader.ProgramSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Loader.ProgramSettings>
            <setting name="server_config_json" serializeAs="String">
                <value />
            </setting>
            <setting name="master_server_url" serializeAs="String">
                <value>http://ds3os-master.timleonard.uk:50020</value>
            </setting>
            <setting name="hide_passworded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minimum_players" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="use_seperate_saves" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ds2_exe_location" serializeAs="String">
                <value />
            </setting>
            <setting name="ds3_exe_location" serializeAs="String">
                <value />
            </setting>
        </Loader.ProgramSettings>
    </userSettings>
</configuration>