name: CI

on:
  workflow_dispatch:
  push:
  pull_request:

env:
  # Path to the solution file relative to the root of the project.
  SOLUTION_FILE_PATH: ./intermediate/vs2022/ds3os.sln

  # Configuration type to build.
  # You can convert this to a build matrix if you need coverage of multiple configuration types.
  # https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
  BUILD_CONFIGURATION: Release

jobs:
  build-windows:
    name: Build Windows
    runs-on: windows-2022

    steps:
    - name: Checkout respository
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2
      
    - name: Generate Solution
      shell: cmd
      working-directory: ${{github.workspace}}/Tools
      run: ${{github.workspace}}/Tools/generate_vs2022.bat
      
    - name: Build
      working-directory: ${{github.workspace}}
      run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_FILE_PATH}} /t:Restore,Build
      
  build-linux:
    name: Build Linux
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout respository
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Generate Solution
      shell: bash
      working-directory: ${{github.workspace}}/Tools
      run: ${{github.workspace}}/Tools/generate_make_release.sh
      
    - name: Build
      working-directory: ${{github.workspace}}/intermediate/make
      run: make

  build-nix-gcc:
    name: Build nix w/ gcc
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: DeterminateSystems/nix-installer-action@main
    - uses: DeterminateSystems/magic-nix-cache-action@main
    - run: nix build -L .

  build-nix-clang:
    name: Build nix w/ clang
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: DeterminateSystems/nix-installer-action@main
    - uses: DeterminateSystems/magic-nix-cache-action@main
    - run: nix build -L .#clang
